.user {
  display: flex;
  padding: 5px 0;

  &:nth-child(2n+1) {
    background: #fafafa;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__avatar {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
}